.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid:
        "header header header" auto "leftSide body rightSide" 1fr "footer footer footer" auto / 20% 60% 20%;
    gap: 0px;
    background-color: yellow;
}

.header {
    grid-area: header;
    background-color: grey;
}

.leftSide {
    grid-area: leftSide;
    background-color: grey;
}

.body {
    grid-area: body;
    background-color: grey;
    overflow: hidden;
    height: 100%;
    background-image: url(https://us.123rf.com/450wm/salamatik/salamatik1803/salamatik180300012/97519237-textura-verde-fondo-de-fieltro-para-mesa-de-p%C3%B3ker-y-casino.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*
-------------------------------------------------------------------------RULETA
*/
.Wallet {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0px 40px 0px;
    color: yellow;
    text-shadow: 0 0 30px yellow;
    font-size: 200%;
    margin: 10px;

}

.RoulleteContainter {
    margin: auto;
    position: relative;
    width: 800px;
    border-radius: 40px;
    margin-bottom: 10px;
}




.MidIndicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
    border-right: solid yellow 2px;
}

#RollerContainer {
    width: calc(88px * 37 * 5);
    animation-name: Spin;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#Historial h4{
width: 100%;

padding: 3px;
text-align: center;
color: black;
border: solid black;

margin-bottom: 0px;
background-color: white;
}
#Nums {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;


}

.NumeroHistorial {
    color: white;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 9%;
    border-radius: 50px;
}

.NumeroHistorial:first-child {
    border: 4px solid yellow;
}


.Red {
    background-color: red;


}

.Black {
    background-color: black;
}

.Green {
    background-color: limegreen;
}

.Red,
.Black,
.Green {
    color: white;
    display: inline-block;
    width: 88px;
    height: 88px;
    line-height: 88px;
    text-align: center;
    border: solid yellow;
    border-width: 4px 0px 4px 0px;
    transform: translateX(-3252px);

}

.RouletteInput {
    align-items: center;
    text-align: center;
    margin: 10px 0px 0px 0px;
    border-radius: 50px;
}

.RouletteInput input {
    width: 100%;
    border: 4px solid black;
    border-radius: 50px;
}

.BetColor {

    height: 100px;
    display: flex;
    justify-content:center;
    gap: 2%;



}

.BetColor div {
    width: 35%;
    display: flex;
    flex-direction: column;
    transition:
        width 0.2s ease-in-out;


}

.BetColor div:hover {
    width: 50%;
    cursor: pointer;
}

.BetColorBtn {
    width: 100%;
    color: white;
    margin: 8px 1px 1px 1px;
    border-radius: 20px 20px 0px 0px;

}

.ColorBet {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: aliceblue;
    margin: 0px 1px 1px 1px;
    border-radius: 0px 0px 20px 20px;



}

/*-----------BOTONES Y SUS HOVER-------------*/
.BetColorBtnRed {
    background-color: red;
}

.BetColorBtnGreen {
    background-color: limegreen;
}

.BetColorBtnBlack {
    background-color: black;
}

.BottomButton {
    align-items: center;
    text-align: center;
    margin: 10px;

}

.BottomButton button {
    width: 90%;
    height: 50px;
    border: 4px solid black;
    border-radius: 50px;
    transition: width 0.3s;
    box-shadow: 0 0 30px black;
    text-align: center;
    font-size: 20px;

}

.BottomButton button:hover {
    width: 100%;
    box-shadow: 0 0 30px yellow;
}

.BottomButton button iconify-icon {
    font-size: 19px;
}

.BottomButton button:hover iconify-icon {
    animation: rotar 0.1s infinite;

}


.rightSide {
    grid-area: rightSide;
    background-color: grey;
}

.footer {
    grid-area: footer;
    background-color: grey;


}
/*
-------------------------------------------------------------------------RULETA
*/



@media (max-width: 1440px) {
    .RoulleteContainter {
        width: 320px;
    }

    .Red,
    .Black,
    .Green {
        transform: translateX(-3492px);
    }



}

@media (max-width: 600px) {
    .RoulleteContainter {
        width: 176px;
    }

    .Red,
    .Black,
    .Green {
        transform: translateX(-309px);
    }
    .BetColor{
        margin-top: 60px;
        align-items: center;
        flex-direction: column
    }
    .BetColor div{
        width: 90%;
    }
    .Bet button,.Bet span {

        height: 30px;
        font-size: 10px;
        


        
    }
    .BottomButton{
        margin-top: 80px;
        position: relative;
    }

    .NumeroHistorial {
        font-size: 10px;
    }

    .BetColor div:hover {
        width: 100%;
    }

    .layout {
        display: flex;
        flex-direction: column;
    }

    .layout > * {
        display: none; /* Oculta todos los elementos hijos inicialmente */
    }

    .body {
        display: block; /* Muestra solo el cuerpo principal */
    }

}

/*------------------------------------ANIMACIONES--------------------*/
@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
