body {
    grid-area: body;
    background-color: grey;
    height: auto;
    background: rgb(35, 255, 0);
    background: radial-gradient(circle, rgba(35, 255, 0, 1) 0%, rgba(34, 121, 9, 1) 51%, rgba(0, 89, 15, 1) 100%);
}
#main{
    overflow: hidden;
    position: relative;
}
/*a*/
#overlay{
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 2;
}
.header {
    grid-area: header;
    background-color: grey;
    height: 50px;
}

#logo {
    margin: -8px 0px 0px -6px;
    position: absolute;
    width: 30%;
    height: 70px;
    z-index: 9;
    filter: drop-shadow( -2px 7px black);
}

#loginContainer {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: gold;
    height: 100%;
    overflow: hidden;


}

#btnlogin {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: calc(30% + 60px);
    text-align: center;
    /* Esta propiedad centra el texto horizontalmente */
    border: solid black 2px;
    background-color: lime;
}

#userdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: lime;
    margin-left: 5%;
    text-align: center;
    border: solid black 1px;

}

#btnlogout {
    height: 100%;
    z-index: 0;
    background-color: red;
    width: 60px;
}


/*
-------------------------------------------------------------------------RULETA
*/
.Wallet {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0px 40px 0px;
    color: gold;
    text-shadow: 0 0 30px gold;
    font-size: 200%;
    margin: 10px;

}

.Wallet button {
    background-color: gold;
    border-radius: 10px;
}

.Wallet button:hover {
    border-radius:50px;
    box-shadow: 0 0 30px gold;
}

.RoulleteContainter {
    margin: auto;
    position: relative;
    width: 800px;
    border-radius: 40px;
    margin-bottom: 10px;
}




.MidIndicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
    border-right: solid gold 2px;
}

#RollerContainer {
    width: calc(88px * 37 * 5);
    animation-name: Spin;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.Red,
.Black,
.Green {
    color: white;
    display: inline-block;
    width: 88px;
    height: 88px;
    line-height: 88px;
    text-align: center;
    border: solid gold;
    border-width: 4px 0px 4px 0px;
    transform: translateX(-3252px);
}

.Red {
    background-color: red;
}

.Black {
    background-color: black;
}

.Green {
    background-color: limegreen;
}

#Historial h4 {
    width: 100%;
    padding: 3px;
    text-align: center;
    color: black;
    border: solid black;
    margin-bottom: 0px;
    background-color: white;
}

#NumList {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;


}

.NumeroHistorial {
    color: white;
    border: 2px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 9%;
    border-radius: 50px;
}

.NumeroHistorial:first-child {
    border: 4px solid gold;
}

.RouletteInput {
    align-items: center;
    text-align: center;
    margin: 10px 0px 0px 0px;
    border-radius: 50px;
}

.RouletteInput input {
    width: 100%;
    border: 4px solid black;
    border-radius: 50px;
}

.BetColor {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.BetColor div {
    width: 35%;
    display: flex;
    flex-direction: column;
    transition:
        width 0.2s ease-in-out;


}

.BetColor div:hover {
    width: 50%;
    cursor: pointer;
}

.BetColorBtn {
    width: 100%;
    color: white;
    margin: 8px 1px 1px 1px;
    border-radius: 20px 20px 0px 0px;

}

.ColorBet {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: aliceblue;
    margin: 0px 1px 1px 1px;
    border-radius: 0px 0px 20px 20px;



}

.BetColorBtnRed {
    background-color: red;
}

.BetColorBtnGreen {
    background-color: limegreen;
}

.BetColorBtnBlack {
    background-color: black;
}

.BottomButton {
    align-items: center;
    text-align: center;
    margin: 10px;
}

.BottomButton button {
    width: 90%;
    height: 70px;
    border: 4px solid black;
    border-radius: 50px;
    transition: width 0.3s;
    box-shadow: 0 0 30px black;
    text-align: center;
    font-size: 30px;
}

.BottomButton button:hover {
    width: 100%;
    box-shadow: 0 0 30px gold;
}

.BottomButton button iconify-icon {
    font-size: 30px;
}

.BottomButton button:hover iconify-icon {
    animation: rotar 0.1s infinite;
}


table {
    width: 100%;
    border: solid black;
    text-align: center;
}

tr th {
    width: 50%;
    background-color: gold;
    border: solid black;

}

tr td {
    width: 50%;
    background-color: white;
    border: solid gray;

}

#ranking-at tr th {
    width: 33.3%;
}
#ranking-at tr td {
    width: 33.3%;
}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
    width: 100%;
    background-color: gold;
    padding: 5px;
    gap: 30%;
    margin-bottom: 0;
    font-size: 25px;

}
.footer iconify-icon{
    font-size: 20px;
    margin: 0%;
    margin-right: 4px;

}
#linkedin #github{
    display: flex;

}
a{
    list-style: none;
    text-decoration: none;
    color: inherit;
    outline: none;
}



@media (max-width: 1050px) {
    .RoulleteContainter {
        width: 320px;
    }

    .Red,
    .Black,
    .Green {
        transform: translateX(-3492px);
    }

}

@media (max-width: 760px) {

    #logo {
        width: 55%;
    }
    #btnlogin{
        font-size: 10px;
    }
    #userdiv{
        font-size: 10px;
    }
    .RoulleteContainter {
        width: 176px;
    }

    .Red,
    .Black,
    .Green {
        transform: translateX(-309px);
    }

    .NumeroHistorial {
        font-size: 10px;
        height: 20px;
    }

    .BetColor {
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
    }

    .BetColor div {
        width: 90%;       
    }

    .BetColor div:hover {
        width: 100%;
    }

    .BetColorBtn,
    .BetColor span {
        height: 30px;
        font-size: 10px;
    }

    .BottomButton {
        margin-top: 70px;
        position: relative;
    }

    .layout {
        display: flex;
        flex-direction: column;
    }

    .layout .rightSide {
        display: none;
        /* Oculta todos los elementos hijos inicialmente */
    }

    .body {
        display: block;
        /* Muestra solo el cuerpo principal */
    }
    .footer{
        font-size: 15px;
    }

}

@media (min-height: 720px){
    .footer{
        top: 900px;
        position: absolute;
        bottom: 0;
    }
}

/*------------------------------------ANIMACIONES--------------------*/
@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}